#heading{
    background-image: url(/image/beautiful-shot-forest-with-tall-green-trees_181624-20615.png);
    color: white;
    width: 700px;
    height: 120px;
    font-size: 60px;

    border-radius: 50px;
    
}

body{
    background-color: gray;
}

#div{

    width: fit-content;
    height: 240px;
    border-radius: 50px;
}

#sort{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

    font-size: 20px;
}

#add{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

    font-size: 20px;
}

#input{
    height: 31px;
    width: 300px;

    font-size: 17px;
}
/* --------------------------------------------------------------------------------- */


/* Responsiveness */

@media screen and (max-width: 300px) {
    #div {
        width: auto;
        height: auto;
    }

    #heading {
        width: auto;
        height: auto;
        font-size: 40px;
        border-radius: 20px;
    }

    #sort{
        padding: 4px 10px;
        font-size: 16px;
    }

    #add {
        padding: 4px 10px;
        font-size: 16px;
    }

    #input {
        width: auto;
        font-size: 14px;
    }
}


@media screen and (max-width: 720px) {
    #div {
        width: auto;
        height: auto;
    }

    #heading {
        width: auto;
        height: auto;
        font-size: 40px;
        border-radius: 20px;
    }

    #sort{
        padding: 4px 10px;
        font-size: 16px;
    }

    #add {
        padding: 4px 10px;
        font-size: 16px;
    }

    #input {
        width: auto;
        font-size: 14px;
    }
}


@media screen and (max-width: 1080px) {

    #div {
        width: auto;
        height: auto;
    }

    #heading {
        width: auto;
        height: auto;
        font-size: 40px;
        border-radius: 20px;
    }

    #sort{
        padding: 4px 10px;
        font-size: 16px;
    }

    #add {
        padding: 4px 10px;
        font-size: 16px;
    }

    #input {
        width: 80%;
        font-size: 14px;
    }

}